/*********************************************
/	css does not depend on Js
/*********************************************/
/*  Переменные  */
/* Основной цвет фона и шрифтов */
/* Ширина контента */
/* зависимость размеров хедера от базового размера контейнера */
/* зависимость размеров футера от базового размера контейнера */
body {
  margin: 0px;
  padding: 0px;
  /* min-width: 800px;
	max-width: 1920px; */
  background: #66d9ff url(../image/bg-body.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Serif', serif;
  font-size: 19.836px;
  color: #0086b3;
  text-shadow: 0 0 4px #00ace5;
  overflow-y: scroll;
}
.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}
.container {
  width: 870px;
  margin: 0 auto;
}
/*********************************************
/		Header
/*********************************************/
.header-container {
  position: relative;
  margin-bottom: 5.481px;
}
.header-content {
  padding: 10.962px 0;
}
.header-logo {
  float: left;
  width: 696px;
  text-align: left;
}
.header-logo-img {
  float: left;
  margin-left: 74.8548px;
  margin-right: 25.2648px;
  width: 104.4px;
  height: 104.4px;
}
.header-logo-title {
  position: relative;
  line-height: 104.4px;
  font-size: 52.2px;
  color: #00c0ff;
  text-shadow: 7px 7px 10px #00607f, 0px 0px 5px #00394c;
  opacity: .7;
}
.header-logo-title::after {
  position: absolute;
  top: -20.00304px;
  right: -119.99736px;
  content: '';
  display: block;
  width: 104.4px;
  height: 104.4px;
  background: url(../image/anchor.png) no-repeat;
  background-size: 104.4px;
}
.header-wrapper-login {
  float: right;
  width: 174px;
}
.header-login,
.header-statistic {
  height: 52.2px;
  text-align: center;
  line-height: 52.2px;
  font-size: 15.66px;
  color: #0086b3;
  text-shadow: 0px 0px 3px #00ace5;
}
.header-login-item,
.header-statistic-item {
  position: relative;
}
.header-login-item::after,
.header-statistic-item::after {
  position: absolute;
  top: 3.915px;
  left: -25.056px;
  content: '';
  display: block;
  width: 15.66px;
  height: 15.66px;
  background: url(../image/userlogin.png) no-repeat;
  background-size: auto 15.66px;
}
.header-login-item::after {
  background-position: -61.074px 0px;
}
.header-statistic-item::after {
  background-position: 0px 0px;
}
/*********************************************
/		Main
/*********************************************/
.main-container {
  text-align: center;
}
.main-title {
  opacity: .6;
  color: #00c0ff;
  text-shadow: 0 0 3px #00394c;
}
.main-fieldset {
  padding: 20px;
  margin-bottom: 20px;
  border: 3px solid #00c0ff;
  border-radius: 10px;
  opacity: .7;
  text-align: left;
  background: #b3ecff;
}
.mode-game {
  float: left;
}
.mode-game-comment {
  float: right;
  width: 435px;
  padding: 3px 5px;
  border: 3px solid #33ccff;
  border-radius: 10px;
  background: #80dfff;
  color: #00607f;
  text-shadow: 0 0 4px #00c0ff;
  line-height: 24.012px;
}
.mode-game-comment:hover {
  color: #001319;
  text-shadow: 0 0 4px #0099cc;
}
.bf-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  color: #00607f;
  text-shadow: 0 0 4px #00c0ff;
}
.bf-type-form {
  border: 2px solid #4cd3ff;
  border-radius: 5px;
  background: #b3ecff;
}
.bf-type-form:disabled {
  border: 2px solid #19c6ff;
  background: #80dfff;
}
.bf-type-form:hover,
.bf-type-form:focus {
  border: 2px solid #19c6ff;
  background: #e5f9ff;
}
.bf-type-form:hover:disabled,
.bf-type-form:focus:disabled {
  border: 2px solid #19c6ff;
  background: #80dfff;
}
.battle-field {
  width: 348px;
  text-align: center;
}
.battle-field-sea {
  width: 100%;
}
.battle-field-west {
  float: left;
}
.battle-field-east {
  float: right;
}
.battle-field-width,
.battle-field-height {
  width: 50px;
}
.bf-type-label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  color: #00607f;
  text-shadow: 0 0 4px #00c0ff;
}
.bf-type-sea {
  display: inline-block;
  margin-left: 43.5px;
}
.battle-field-name {
  width: 217.5px;
}
/*********************************************
/		Footer
/*********************************************/
.footer-container {
  position: relative;
  margin-top: 26.1px;
}
.footer-content {
  position: relative;
  padding: 10.44px 0;
}
.footer-content::before {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ccf2ff, #19c6ff);
  opacity: 0.8;
  border-radius: 10px;
  z-index: -1;
}
.footer-logo {
  float: left;
  width: 417.6px;
  text-align: left;
}
.footer-logo-img {
  float: left;
  margin-left: 135.72px;
  margin-right: 10.44px;
  width: 52.2px;
  height: 52.2px;
  filter: drop-shadow(0px 0px 35px #0086b3);
}
.footer-logo-title {
  position: relative;
  line-height: 52.2px;
  font-size: 26.1px;
  color: #e5f9ff;
  text-shadow: 7px 7px 15px #00c0ff, 0px 0px 10px #00394c;
  opacity: .7;
}
.footer-logo-title::after {
  position: absolute;
  top: -10.00152px;
  right: -59.99868px;
  content: '';
  display: block;
  width: 52.2px;
  height: 52.2px;
  background: url(../image/anchor.png) no-repeat;
  background-size: 52.2px;
}
.footer-copy {
  float: right;
  margin-right: 104.4px;
  line-height: 52.2px;
  font-size: 15.66px;
  color: #e5f9ff;
  text-shadow: 7px 7px 15px #00c0ff, 0px 0px 10px #00394c;
}
.wrapper-btn {
  position: relative;
  margin: 43.5px auto;
  text-align: center;
}
.btn {
  padding: 30.45px 47.85px;
  background: linear-gradient(#ccf2ff, #19c6ff);
  border-radius: 50%;
  box-shadow: 0px 0px 30px 5px #0086b3;
  font-size: 43.5px;
  color: #e5f9ff;
  text-shadow: 7px 7px 15px #00c0ff, 0px 0px 10px #00394c;
}
.btn:hover {
  background: linear-gradient(#ffffff, #00ace5);
  box-shadow: 0px 0px 30px 5px #0099cc;
  color: #ffffff;
  text-shadow: 7px 7px 5px #33ccff, 0px 0px 3px #0086b3;
}
.btn:hover:active {
  background: linear-gradient(#4cd3ff, #99e6ff);
  box-shadow: 0px 0px 10px 0px #00c0ff;
  color: #ccf2ff;
  text-shadow: 7px 7px 5px #33ccff, 0px 0px 3px #0086b3;
}
.btn-stop {
  font-size: 26.1px;
  padding: 8.7px 47.85px;
}
/*********************************************
/	css under control from Js
/*********************************************/
.battleFieldSquare {
  position: relative;
  width: auto;
  border: solid 5px #00ace5;
  box-shadow: 0px 0px 15px 0px #00c0ff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px auto;
  font-size: 14px;
}
.battleFieldSquare::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(#4cd3ff, #99e6ff);
  border-radius: 10px;
  opacity: .7;
  z-index: -1;
}
.battlebar {
  vertical-align: -0.3em;
}
.battleCell {
  background-color: #2cbdd4;
  padding: 2px;
  margin: 2px;
  display: inline-block;
  transition: 0.2s linear;
}
.battleCell:hover {
  background: #57a639;
}
.battleCellHit {
  background-color: #329977;
  width: 32px;
  height: 32px;
  padding: 2px;
  margin: 2px;
  display: inline-block;
}
.ships {
  background-color: #888;
  width: 32px;
  height: 32px;
  padding: 2px;
  margin: 2px;
  display: inline-block;
  transition: 0.2s linear;
}
.shipsHit {
  background-color: #d9806f;
}
.shipsDestroyed {
  background-color: #a12a22;
}
